* {
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
}

.left {
  flex: 1;
  height: 300px;
  background-color: red;
}

.center {
  width: 200px;
  height: 300px;
  background-color: green;
}

.right {
  flex: 1;
  height: 300px;
  background-color: blue;
}