html,
body,
#app {
  height: 100%;
}

.btn-del {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.wrap-bg {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 0 10px;
}

.header {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #333;
}

.content {
  height: calc(100% - 70px);
}

.content p {
  text-indent: 20px;
}

.footer {
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.btn {
  border: none;
  padding: 2px 6px;
  border-radius: 2px;
}