* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 400px;
  height: 300px;
  padding: 10px;
  background-color: pink;
  overflow: auto;
}

.modal-header {
  border-bottom: 1px solid #333;
}

ul {
  list-style: none;
  margin-top: 20px;
}

li {
  border: 1px solid #333;
  padding: 5px 10px;
  text-align: center;
  margin-top: 10px;
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 3px;
}

.modal-footer {
  text-align: center;
  margin-top: 20px;
}